
/* HEADER */
#title{
    padding: 10px;
    text-align: center;
    color: tomato;
}

.fa-solid fa-bars{
    color: pink;
}
#timer{
    display: inline;
}


/* MAIN */
main{
    gap: 3px;
}

#box_line{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3px;
}

#box{
    border: 3px solid #d3d6da;
    width: 50px;
    height: 50px;
    margin: 3px;
}

/* KEYBOARD */
#keyboard_line{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3px;
}

#keyboardSpecial{
    background-color:  #d3d6da;
    width: 80px;
    height: 60px;
    margin: 3px;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    font-size: 12px;
    line-height: 50px;
}
#keyboard{
    background-color:  #d3d6da;
    width: 40px;
    height: 60px;
    margin: 3px;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
    line-height: 50px;
    
}



/* GAMEOVER */
#gameOverDiv{
    position: absolute;
    top: 40%;
    left: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
    background-color: green;
    color: white;
    text-align: center;
}

#gameOverLOSTDiv{
    position: absolute;
    top: 40%;
    left: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
    background-color: tomato;
    color: white;
    text-align: center;
}

/* TIMER*/
#timer{
    display: flex;
    align-items: center;
    justify-content: center;
}